header.page-header {
	margin-bottom: 3rem;
}

a {
	font-size: 1.5rem;
}

#events-block-grid div {
	text-align: center;
	margin: auto; //Gets vertical alignment to be 'middle'
}

#events-block-grid article.austeve-events {
	background: #FFFFFF;
}

#events-block-grid .columns {
    padding-left: 0;
    padding-right: 0;

}