header.page-header {
	margin-bottom: 3rem;
}

a {
	font-size: 1.5rem;
}

#projects-block-grid div {
	text-align: center;
	margin: auto; //Gets vertical alignment to be 'middle'
}

#projects-block-grid .column {
	margin-bottom: 3rem;
}

#projects-block-grid .gallery img {
	max-height: 200px;
}